.account .user-details{
    padding: 75px 180px 50px;
}

.account .user-details table{
    padding: 10px;
    border: 1px solid black;
    font-size: 22px;
    margin-bottom: 30px;
}

.account .user-details table tr, th, td{
    padding: 10px;
    border: 1px solid black;
}


.account .user-details button{
    width: 120px;
    height: 50px;
    padding-top: 0px;
    border: none;
    font-size: 20px;
    border-radius: 25px;
    background-color: #ff4b2b;
    color: #fff;
    cursor: pointer;
}


.account .user-details button:hover{
    border: 2px solid #ff4b2b;
    background-color: #fff;
    color: #ff4b2b;
    font-weight: 600;
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .account .user-details{
        padding: 75px 180px 50px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px) */
@media only screen and (max-width: 1200px){
    .account .user-details{
        padding: 75px 130px 50px;
    }
}

/* Large devices (laptops/desktops, 1023px) */
@media only screen and (max-width: 1023px) {
    .account .user-details{
        padding: 75px 70px 50px;
    }
}

/* Medium devices (landscape tablets, 768px) */
@media only screen and (max-width: 768px){
    .account .user-details{
        padding: 75px 60px 50px;
    }
}

/* Extra small devices (phones, 600px) */
@media only screen and (max-width: 600px) {
    .account .user-details{
        padding: 75px 25px 50px;
    }

    .account .user-details button{
        width: 100px;
        height: 40px;
    }
}